* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$white: #ffffff;
$ltgray: #d6e2f0;
$grayblue: #7b879d;
$darkblue: #1f3251;

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: $ltgray;
}

#container {
    width: 100%;
    margin: 86px auto;
    padding: 0 1.75rem;

    @media only screen and (min-width: 768px) {
        display: grid;
        place-content: center;
    }
}

#card {
    width: 320px;
    background-color: $white;
    padding: 1rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: 768px) {
        // width: 320px;
    }


    #card-image img {
        width: 100%;
        border-radius: 0.75rem;
    }

    #card-details {
        padding: 1rem;
        text-align: center;
    }

    .heading {
        margin-bottom: 1.25rem;
        font-size: 1.2rem;
        color: $darkblue;
        font-weight: 700;
    }

    .description {
        color: $grayblue;
        font-weight: 400;

        @media only screen and (min-width: 768px) {
            font-size: 1rem;
        }
    }
}

// footer

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }

}